<header class="text-orange container p-4 mx-auto">

    <h1 class="font-title font-bold text-7xl flex items-center">
        <img class="mr-4" width="100" src="{{img_url @site.logo size=" l"}}" alt="" />
        <a href="/">{{ @site.title }}</a>
    </h1>
</header>

<nav class="border-orange border-b-8">
    <div class="flex container p-4 mx-auto text-orange text-2xl uppercase font-bold">
        {{navigation}}

        <div class="text-white text-xl">
            <a class="bg-green-600 p-2 px-4 rounded-xl" href="https://tiktok.com/@dailydosenews">Subscribe</a>
        </div>
    </div>
</nav>