@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  @apply list-none flex mr-auto;
}

.nav li {
  @apply mx-2;
}

.nav li::after {
  content: "▼";
  margin-left: 0.5em;
  color: white;
}

.tiktok-embed {
  margin: 0 !important;
}
